section{
    margin-top: 100px;
}

div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: darkolivegreen;
    border: 2px solid black;
    margin: 30px;
}

div:nth-of-type(2n){
    background-color: chocolate;
}

div:nth-of-type(3n){
    background-color: rgb(175, 128, 94);
}

/*Transform Rotate*/
#one{
    transform: rotate(45deg);
}

/*Transform scale*/
#two{
    transform: scale(0.5);
}

/*Transform translate*/
#three{
    transform: translateX(10px);
}

/*Transform skew*/
#four{
    transform: skew(45deg);
}

/* allTransform*/
#five{
    transform: rotate(45deg) scale(2);
}